.menu{
    background-color: rgb(195, 155, 233);
    height: 40px;
    padding: 8px;
}

.menu a{
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 8px;
    margin-left: 10px;
}